h1 {
    font-size: 1.3rem;
    margin: 10px 0;
    font-weight: 700;
    color: var(--text-h);
    text-align: center;
}

div#card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    background-color: var(--bg);
    border: 2px solid var(--border);
}

span.card_form-item {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

p {
    margin: 0;
}

label {
    display: inline-block;
    margin-bottom: 1px;
    font-weight: 600;
}

button {
    margin-top: 10px;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--accent-border);
    background-color: var(--accent-bg);
    color: var(--accent);
    cursor: pointer;
}

input {
    font-size: 1rem;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--border);
}

select {
    font-size: 1rem;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--border);
}

option {
    font-size: 1rem;
}

div.card_message {
    margin-top: 20px;
    text-align: center;
}

p#error-message {
    color: var(--error-text)
}

p#valid-word {
    color: var(--valid-word-text);
}

p#invalid-word {
    color: var(--invalid-word-text);
}

p#info-message {
    font-size: 0.8rem;
    margin-bottom: 10px;
}